html {
    font-family:centurygothic,helvetica,arial,sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
body {
    margin:0;
    font-weight:300;
    font-size:10px;
    line-height:1.125;
    color:#000;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display:block;
}
audio,canvas,progress,video {
    display:inline-block;
    vertical-align:baseline;
}

audio:not([controls]) {
    display:none;
    height:0;
}
[hidden],template {
    display:none;
}
a {
    background-color:transparent;
}
a:active,a:hover {
    outline:0;
}
abbr[title] {
    border-bottom:1px dotted;
}
b,strong {
    font-weight:700;
}
dfn {
    font-style:italic;
}
mark {
    background:#ff0;
    color:#000;
}
small {
    font-size:80%;
}

sub,sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}

sup {
    top:-.5em;
}

sub {
    bottom:-.25em;
}

img {
    border:0;
}

svg:not(:root) {
    overflow:hidden
}

figure {
    margin:1em 40px;
}

hr {
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    height:0;
}

pre {
    overflow:auto;
}

code,kbd,pre,samp {
    font-family:monospace,monospace;
    font-size:1em;
}

button,input,optgroup,select,textarea {
    color:inherit;
    font:inherit;
    margin:0;
}

button {
    overflow:visible;
}

button,select {
    text-transform:none;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance:button;
    cursor:pointer;
}

button[disabled],html input[disabled] {
    cursor:default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border:0;
    padding:0;
}

input {
    line-height:normal;
}

input[type="checkbox"],input[type="radio"] {
    box-sizing:border-box;
    padding:0;
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    height:auto;
}

input[type="search"] {
    -webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance:none;
}

fieldset {
    border:1px solid silver;
    margin:0 2px;
    padding:.35em .625em .75em;
}

legend {
    border:0;
    padding:0;
}
textarea {
    overflow:auto;
}
optgroup {
    font-weight:700;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}

td,th {
    padding:0;
}

ul {
	margin: 0;
}

/* Typography */
h1, h2, h3, h4, h5, h6, p { margin: 0; }

h1 { font-size: 3.6em; }
h2 { font-size: 3em; }
h3 { font-size: 2.4em; }
h4 { font-size: 1.8em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }

p, li {
    font-size: 1.8em;
    line-height: 1.2em;
}

.group:before,.container:before,.module:before,.article:before,.footer .footer-header:before,.reuters-share:before,.photo-module .photo:before,.group:after,.container:after,.module:after,.article:after,.footer .footer-header:after,.reuters-share:after,.photo-module .photo:after {
    content:" ";
    display:table;
}

.group:after,.container:after,.module:after,.article:after,.footer .footer-header:after,.reuters-share:after,.photo-module .photo:after {
    clear:both;
}

.container {
	padding-left: 70px;
	padding-right: 70px
}

section.section {
	padding-top: 30px;
    padding-bottom: 50px;
}

body a {
	color: #7B8E30;
}

.section-title {
	padding-bottom: 14px;
}

.section-title h2 {
	font-size: 5em;
	font-weight: 100;
	color: #7B8E30;
}
 body a {
 	color: #7B8E30;
 }

/* Navbar */
.nav-bar {
	position: fixed;
	border-bottom: 4px solid #7B8E30;
	width: 100%;
	height: 50px;
  background-color: #fff;
  padding-top: 24px;
  -webkit-transition: height .25s ease-in-out;
  -moz-transition: height .25s ease-in-out;
  transition: height .25s ease-in-out;
  z-index: 20;
}
.nav-bar .section {
	cursor: pointer;
	text-decoration: none;
    color: #000;
}
.nav-bar .button {
	cursor: pointer;
}
.nav-bar .logo-header {
	position: absolute;
	top: 3px;
	width: 92px;
	visibility: hidden;
	opacity: 0;
	cursor: pointer;
	-webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.nav-bar .logo-header.active,
.nav-bar .nav-sections-mini .section.active {
	visibility: visible;
	opacity: 1;
}
.nav-bar .nav-sections-mini.active {
	visibility: visible;
	height: 15px;
}
.nav-bar .logo-header img {
	width: 100%;
}
.nav-bar .nav-sections {
	float: right;
	font-size: 2em;
}
.nav-bar .nav-sections .section {
	padding: 27px 20px;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}
.nav-bar .nav-sections .section.active {
  background: #ccc;
}
.nav-bar .nav-sections.mini .section {
  padding: 13px 20px;
}
.nav-bar .nav-menu,
.nav-bar .nav-menu-close {
	display: none;
	position: absolute;
  right: 8px;
}
.nav-bar .nav-menu {
	top: 1px;
	font-size: 36px;
}
.nav-bar .nav-menu-close {
	top: 5px;
  font-size: 30px;
}
.nav-bar .nav-sections-mini {
	visibility: hidden;
	height: 0;
	margin-top: 40px;
  background-color: #eee;
  padding: 10px;
  text-align: center;
  font-size: 1.4em;
  border-bottom: 1px solid #7B8E30;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.nav-bar .nav-sections-mini .section {
	padding-right: 24px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.nav-bar .nav-sections-mini .section:last-child {
	padding-right: 0;
}

/* Welcome */
.welcome {
	padding: 75px 0 70px;
	background: url('../images/artichoke-banner-bw.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.welcome .welcome-logo img {
	width: 75%;
	display: block;
	margin: 0 auto;
	padding: 10px 0;
}
.welcome .welcome-slogan {
	text-align: center;
	margin: 0 auto;
}
.welcome .welcome-slogan .circle {
	display: inline-block;
	overflow: hidden;
	padding: 0 20px 18px;
	font-size: 4em;
	color: #7B8E30;
}
.welcome .welcome-slogan .slogan {
	display: inline-block;
}
.welcome .welcome-slogan .slogan h3{
	font-size: 4em;
	font-weight: 200;
}

/* About */
.about-section {
	background-color: #eee;
}
.about-info {
	display: inline-block;
	width: 47%
}
.about-info .statement {
	font-size: 2.2em;
    font-weight: bold;
    padding-bottom: 16px;
}
.about-headshots {
	display: inline-block;
	width: 47%;
	text-align: center;
	float: right;
}
.about-headshots .profile {
	display: inline-block;
	float: right;
	width: 175px;
	padding: 0 0 20px 20px;
}
.about-headshots .profile img {
	width: 100%;
}
.about-headshots .profile h4 {
	font-size: 2em;
	font-weight: 200;
}
.about-headshots .profile-headshot {
	padding-bottom: 10px;
  -webkit-transition: all 3.5s ease-in-out 3s;
  -moz-transition: all 3.5s ease-in-out 3s;
  transition: all 3.5s ease-in-out 3s;
}
.about-headshots .headshot-one {
	background: url("../images/richard-headshot.png") no-repeat center;
  background-size: contain;
  height: 262px;
  width: 175px;
}
.about-headshots .headshot-one:hover {
  background: url("http://ia.media-imdb.com/images/M/MV5BMTM4ODYwNDY3NF5BMl5BanBnXkFtZTcwMjYxNjEzMQ@@._V1_SX640_SY720_.jpg") no-repeat center;
  background-size: contain;
}
.about-headshots .headshot-two {
  background: url("../images/steven-headshot.png") no-repeat center;
  background-size: contain;
  height: 262px;
  width: 175px;
}

/* Portfolio */
.portfolio-section {
	background-color: #fff;
}
.portfolio-section .sub-sec {
    padding: 40px 0 30px;
    border-bottom: 1px solid #7B8E30;
}
.portfolio-section .sub-sec:last-child {
    border-bottom: none;
}
.sub-sec h3 {
	font-size: 3em;
	font-weight: 100;
}
.sub-sec h4 {
	font-size: 2.4em;
	font-weight: 100;
}
.sub-sec .content-featured {
	padding-top: 30px;
	cursor: pointer;
}
.print-design .content-featured .content {
	width: 47%;
}
.fan-art .content-featured {
	text-align: center;
}
.sub-sec .content-thumbs {
	text-align: center;
	background: #ccc;
	margin-top: 40px;
    padding: 10px 48px;
}
.sub-sub-sec {
	margin-top: 40px;
}
.sub-sub-title {
	margin-bottom: 10px;
}
.sub-sec.fan-art .content-thumbs {
	margin-top: 0;
}
.fan-art .content-featured .content {
	width: 20%;
	display: inline-block;
	padding-right: 6%;
}
.fan-art .content-featured .content:last-child {
	padding-right: 0;
}
.content-thumbs .content {
	display: inline-block;
	padding-right: 1%;
	cursor: pointer;
}
.content-featured .content img {
	width: 100%;
}
.content-featured .left {
	float: left;
}
.content-featured .right {
	float: right;
}
.print-design .content-thumbs .content,
.stationary .content-thumbs .content,
.logos .content-thumbs .content {
	display: inline-block;
    width: 15%;
    padding-right: 1%;
}
.print-design .content-thumbs .content:last-child {
	padding-right: 0;
}
.content-thumbs .content img {
	width: 100%;
}
.content img {
  -webkit-transition: all .10s ease-in-out;
  -moz-transition: all .10s ease-in-out;
  transition: all .10s ease-in-out;
}
.content img:hover {
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  filter: grayscale(50%);
}

/* Contact */
.contact-section {
	background-color: #fff;
}

.contact-info {
	width: 47%;
	float: left;
}

.contact-info p {
	padding-bottom: 30px;
}

.contact-info ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

.contact-info li {
	font-size: 1.6em;
	padding-bottom: 20px;
}

.contact-info li:before {
	content: "• ";
	color: #7B8E30;
}

.contact-logo {
	text-align: center;
}

.contact-logo img {
	width: 75%;
}

/* Social */
.contact-social {
	width: 47%;
	float: right;
	padding-bottom: 75px;
}

.contact-social .social {
	text-align: center;
}

.social-icon,
.contact-social .social a {
	display: inline-block;	
}

.contact-social .social a {
	padding-left: 5%;
}

.contact-social .social a:first-child {
	padding-left: 0;
}

.social .etsy {
	background: url("../images/social/etsy.jpg");
	width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
.social .facebook {
	background: url("../images/social/facebook.jpg");
	width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
.social .instagram {
	background: url("../images/social/Instagram.jpg");
	width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
.social .twitter {
	background: url("../images/social/Twitter.jpg");
	width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
.social .pinterest {
	background: url("../images/social/Pinterest.jpg");
	width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
.social .etsy:hover {
	background: url("../images/social/Etsy-down.jpg");
	width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
.social .facebook:hover {
	background: url("../images/social/facebook-down.jpg");
	width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
.social .instagram:hover {
	background: url("../images/social/Instagram-down.jpg");
	width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
.social .twitter:hover {
	background: url("../images/social/Twitter-down.jpg");
	width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
.social .pinterest:hover {
	background: url("../images/social/Pinterest-down.jpg");
	width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
}

/* Slideshow */
.sub-sec .content-thumbs button {
	background-color: #fff;
	border-radius: 10px;
	-webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.sub-sec .content-thumbs button:hover {
	background-color: #333;
}

.sub-sec .content-thumbs button.slick-prev {
	left: 10px;
}

.sub-sec .content-thumbs button.slick-next {
	right: 10px;
}

.content-thumbs button.slick-prev:before,
.content-thumbs button.slick-next:before {
	opacity: 1;
	color: #7B8E30;
	font-weight: 800;
	font-size: 14px;
	-webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.content-thumbs button.slick-prev:before {
	content: "<";
	padding-right: 2px;

}

.content-thumbs button.slick-next:before {
	content: ">";
	padding-left: 2px;
}

/* Modal */
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
/*  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;*/
}
.modal-header .close {
/*  margin-top: -2px;*/
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 10px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .buy-button {
	float: right;
    background: #7B8E30;
    margin-bottom: 8px;
    padding: 10px;
    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.modal-footer .buy-button:hover {
    background: #333;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-dialog.portrait {
	width: 364px;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.modal-body img {
	width: 100%
}
.modal-header,
.modal-footer {
    padding: 6px 10px 0;
    overflow: hidden;
}


@media (max-width: 768px) {
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}
	.nav-bar {
		height: 36px;
    	padding-top: 12px;
	}
	.nav-bar .nav-sections {
		display: none;
	}
	.nav-bar .nav-menu {
		display: block;
	}
	.nav-bar .nav-sections .section {
		padding-left: 14px;
	}
	.welcome {
		padding-bottom: 36px;
		background: url('../images/artichoke-banner-bw-mobile.png');
	}
	.welcome .welcome-slogan .slogan h3{
		font-size: 2em;
		font-weight: 200;
	}
	.welcome .welcome-slogan .circle {
		display: inline-block;
		overflow: hidden;
		padding: 0 20px 10px;
		font-size: 2em;
		color: #7B8E30;
	}
	.section-title h2 {
		font-size: 3.6em;
	}
	.sub-sec-title h3 {
		font-size: 2.4em;
	}
	.sub-sub-title h4 {
		font-size: 2em;
	}
	.portfolio-section .section-title {
	    padding: 0;
	}
	.portfolio-section .sub-sec {
	    padding: 20px 0 20px;
	}
	.about-info {
		width: 100%;
	}
	.about-headshots {
		width: 100%;
		float: none;
		padding-top: 30px;
	}
	.about-headshots .profile {
		width: 100%;
		float: none;
		padding-left: 0;
	}
	.about-headshots .profile-headshot {
		width: 47%;
		float: left;
	}
	.fan-art .content-featured .content {
		width: 48%;
		padding: 0 0 12px;
	}
	.contact-info {
		width: 100%;
		float: none;
	}
	.contact-social {
		width: 100%;
		float: none;
	}
	.modal-dialog.portrait {
	  margin-left: -150px;
	  left: 50%;
	  width: 300px;
	}
}

