html {
    font-family:centurygothic,helvetica,arial,sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
body {
    margin:0;
    font-weight:300;
    font-size:10px;
    line-height:1.125;
    color:#000;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display:block;
}
audio,canvas,progress,video {
    display:inline-block;
    vertical-align:baseline;
}

audio:not([controls]) {
    display:none;
    height:0;
}
[hidden],template {
    display:none;
}
a {
    background-color:transparent;
}
a:active,a:hover {
    outline:0;
}
abbr[title] {
    border-bottom:1px dotted;
}
b,strong {
    font-weight:700;
}
dfn {
    font-style:italic;
}
mark {
    background:#ff0;
    color:#000;
}
small {
    font-size:80%;
}

sub,sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}

sup {
    top:-.5em;
}

sub {
    bottom:-.25em;
}

img {
    border:0;
}

svg:not(:root) {
    overflow:hidden
}

figure {
    margin:1em 40px;
}

hr {
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    height:0;
}

pre {
    overflow:auto;
}

code,kbd,pre,samp {
    font-family:monospace,monospace;
    font-size:1em;
}

button,input,optgroup,select,textarea {
    color:inherit;
    font:inherit;
    margin:0;
}

button {
    overflow:visible;
}

button,select {
    text-transform:none;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance:button;
    cursor:pointer;
}

button[disabled],html input[disabled] {
    cursor:default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border:0;
    padding:0;
}

input {
    line-height:normal;
}

input[type="checkbox"],input[type="radio"] {
    box-sizing:border-box;
    padding:0;
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    height:auto;
}

input[type="search"] {
    -webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance:none;
}

fieldset {
    border:1px solid silver;
    margin:0 2px;
    padding:.35em .625em .75em;
}

legend {
    border:0;
    padding:0;
}
textarea {
    overflow:auto;
}
optgroup {
    font-weight:700;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}

td,th {
    padding:0;
}

/* Typography */
h1, h2, h3, h4, h5, h6, p { margin: 0; }

h1 { font-size: 3.6em; }
h2 { font-size: 3em; }
h3 { font-size: 2.4em; }
h4 { font-size: 1.8em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }

p {
    font-size: 1.4em;
    line-height: 1.2em;
}

.group:before,.container:before,.module:before,.article:before,.footer .footer-header:before,.reuters-share:before,.photo-module .photo:before,.group:after,.container:after,.module:after,.article:after,.footer .footer-header:after,.reuters-share:after,.photo-module .photo:after {
    content:" ";
    display:table;
}

.group:after,.container:after,.module:after,.article:after,.footer .footer-header:after,.reuters-share:after,.photo-module .photo:after {
    clear:both;
}

.container {
	margin-left: 70px;
	margin-right: 70px
}

/* Navbar */
.nav-bar {
	padding-top: 10px;
	border-bottom: 4px solid green;
}

.nav-bar .logo-header {
	float: left;
}

.nav-bar .logo-header img {
	width: 75%;
}

.nav-bar .nav-sections {
	float: right;
	margin-top: 45px;
	font-size: 2em;
}

.nav-bar .nav-sections .section {
	padding-left: 40px;
}

/* Welcome */
.welcome {
	padding-bottom: 70px;
	background: url('../images/artichoke-banner-bw.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.welcome .welcome-logo img {
	width: 75%;
	display: block;
	margin: 0 auto;
	padding: 10px 0;
}

.welcome .welcome-slogan {
	text-align: center;
	margin: 0 auto;
}

.welcome .welcome-slogan .circle {
	display: inline-block;
	overflow: hidden;
	padding: 0 20px 18px;
	font-size: 4em;
	color: #7B8E30;
}

.welcome .welcome-slogan .slogan {
	display: inline-block;
}

.welcome .welcome-slogan .slogan h3{
	font-size: 4em;
	font-weight: 200;
}

/* Slideshow */
.slideshow {
	padding-top: 40px;
}

.slideshow .slideshow-container .poster {
	width: 275px;
}

.slideshow .slideshow-container .poster img {
	width: 100%
}

/* About */
.about {
	padding-top: 40px;
}

.about-info {
	display: inline-block;
	max-width: 500px;
}

.about-headshots {
	display: inline-block;
	max-width: 650px;
	position: relative;
	float: right;
}

.about-info .about-title h2 {
	font-size: 5em;
	font-weight: bold;
	color: #7B8E30;
}

.about-info .about-content {
	padding-top: 14px;
}
.about-info .about-content p {
	font-size: 2em;
}

.about-headshots .profile {
	display: inline-block;
	width: 270px;
	padding-left: 20px;
	text-align: center;
}

.about-headshots .profile img {
	width: 100%;
}

.about-headshots .profile h4 {
	font-size: 2em;
	font-weight: 200;
}

.about-headshots .profile-headshot {
	padding-bottom: 10px;
}

.about-headshots .profile-one {
	
}

.about-headshots .profile-two {

}

@media (max-width: 758px) {
	.container {
		margin-left: 10px;
		margin-right: 10px;
	}
	.welcome {
		padding-bottom: 36px;
		background: url('../images/artichoke-banner-bw-mobile.png');
	}
	.welcome .welcome-slogan .slogan h3{
		font-size: 2em;
		font-weight: 200;
	}
	.welcome .welcome-slogan .circle {
		display: inline-block;
		overflow: hidden;
		padding: 0 20px 10px;
		font-size: 2em;
		color: #7B8E30;
	}
	.about-info {
		width: 100%
	}
	.about-headshots {
		text-align: center;
		padding: 0;
	}
	.about-headshots .profile {
		display: inline-block;
		width: 270px;
		text-align: center;
		padding-top: 20px;
	}


}






